apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    access: proxy
    isDefault: true

    jsonData:
      host: clickhouse
      port: 8123
      protocol: http
      secure: false
      username: obs
      defaultDatabase: observability

      # Treat ClickHouse query results as Logs in Explore
      logs:
        enabled: true
        # These must match your ClickHouse table columns
        timeColumn: timestamp
        messageColumn: msg
        levelColumn: level
      trace:
        datasourceUid: P214B5B846CF3925F #  Tempo UID
        traceIdField: trace_id #  ClickHouse column name

    secureJsonData:
      password: obs_pass
